* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
	font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体',
		'Segoe UI Historic', 'Sylfaen', 'Palatino Linotype', 'Roman',
		'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'ＭＳ 明朝', 'MS Mincho',
		'Palatino', sans-serif;
}

a {
	text-decoration: none;
}

.errorMessages > ul > li {
	color: red;
}

header {
	width: 100%;
	position: fixed; /* ヘッダーを固定(これが重要) */
	top: 0; /* 固定する位置 */
	left: 0; /* 固定する位置 */
	right: 0; /* 固定する位置 */
	z-index: 100;
}

.header-top {
	background-color: #808000;
	height: 100px;
	width: 100%;
	text-decoration: none;
	font-size: 70px;
	z-index: 100;
}

.header-bottom {
	padding: 0 80px 0 100px;
	background: rgba(0, 0, 0, 0.1);
	z-index: 100;
}

.nav-list {
	etxt-align: center;
	padding: 10px;
	margin: 0 auto;
}

.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.top-box {
	height: 150px;
}

.login-box {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

.main-contents {
	//text-align: center;
}

.box-post {
	//background-image: url(fonts/keijiban.jpg);
	background-color: #CCFFFF;
	margin: 2em 0;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
	padding: 30px;
}

.box-post .box-title {
	border-left: 5px solid #0000EE;
	font-size: 20px;
	padding: 0 10px;
	margin: 0;
}

.comments {
	padding: 0 50px 0 50px;
}

footer {
	margin-top: 100px;
	height: 150px;
	background-color: black;
}

.copyright {
	color: white;
	padding-top: 70px;
	text-align: center;
}

.grad-btn {
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	//border: 1px solid #ddd;
	margin: 7px 0 10px 10px;
	overflow: hidden;
	//font-size: 18px;
	//background-color: red;
	color: #0000CD;
}

.grad-btn::before {
	//content: "続きを読む"
}

.grad-item {
	position: relative;
	overflow: hidden;
	height: 150px; /*隠した状態の高さ*/
}

.grad-item::before {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px; /*グラデーションで隠す高さ*/
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
	background: linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
	content: "";
}

.grad-trigger {
	display: none; /*チェックボックスは常に非表示*/
}

.grad-trigger:checked ~ .grad-btn::before {
	//content: "閉じる" /*チェックされていたら、文言を変更する*/
}

.grad-trigger:checked ~ .grad-item {
	height: auto; /*チェックされていたら、高さを戻す*/
}

.grad-trigger:checked ~ .grad-item::before {
	display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}